.container{
  display: flex;
  justify-content: center;
}
.carts{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;

}


.closeBtn{
  border: 0;
  padding: 0;
  position: sticky;
  top: 5px;
  background-color: white;
}

.cart-warning {
  height: 85%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected-cart{
   width: 80%;
   margin: 10px auto;
   padding: 15px;
   display: flex;
   background-color: rgb(117, 156, 133);
   border: 2px solid rgb(151, 151, 151);
   color: white;
}


@media (max-width: 950px) {
  .carts{
    grid-template-columns: repeat(2,1fr);
}
}
@media (max-width: 660px) {
  .carts{
    grid-template-columns: repeat(1,1fr);
}

}